# Salin file ini menjadi .env.local dan isi nilainya
# JANGAN commit .env.local ke git!

# Supabase — ambil dari dashboard.supabase.com → Project Settings → API
NEXT_PUBLIC_SUPABASE_URLhttps://uvqylrnbykhvtmfdngaw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2cXlscm5ieWtodnRtZmRuZ2F3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTk1MjIsImV4cCI6MjA5NjA3NTUyMn0.OAtlaIewmSB-91BK0HW695pwYonlBUQdd5FNuby_GlI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2cXlscm5ieWtodnRtZmRuZ2F3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDQ5OTUyMiwiZXhwIjoyMDk2MDc1NTIyfQ.4DOgqp3GBVM8r6qoj4zUYpAh25yS_y2U-N706tNP17I

# JWT Secret — generate: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
JWT_SECRET=spuqZujtJDCrafJPSe6LKbqwq4Jl2vPPZTqp6nhj3qg=

# App URL
NEXT_PUBLIC_APP_URL=https://nama-app.vercel.app
